<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/images/weather.png">
    
   <title>about</title>
</head>
<body>
    <div class="main-container">
  {{>headers}}
     <img src="/images/panda.png">
    </div>
    
     {{>footer}}
</body>
</html>